<div class="login-container">
  <div class="login"
       *ngIf="!env.production">
    <div class="login-info">
      <p class="login-label">BIM server address:</p>
      <label>
        <input class="input"
               type="text"
               placeholder="example: localhost:8082"
               [(ngModel)]="env.apiUrl">
      </label>

      <p class="login-label"> User: </p>
      <label>
        <input class="input"
               type="text"
               placeholder="example: bimuser@kros.sk"
               [(ngModel)]="env.login">
      </label>
    </div>
    <div class="login-info">
      <p class="login-label"> Password: </p>
      <label>
        <input class="input"
               type="text"
               placeholder="example: 21kros12"
               [(ngModel)]="env.password">
      </label>
    </div>
  </div>

  <div class="login-button">
    <button (click)="onLoginClick()">Login</button>
  </div>

  <div class="document">
    <div class="login-info">
      <p class="login-label"> Document id: </p>
      <label>
        <input class="input"
               type="text"
               placeholder="example: documents/1-A"
               [(ngModel)]="documentId">
      </label>
    </div>

    <div class="login-button">
      <button (click)="onLoadDocument($event)">Load</button>
      <div>
        <p>Actual progress: {{progress}}%</p>
      </div>
      <mat-form-field>
        <mat-label>Section direction</mat-label>
        <mat-select (selectionChange)="onDirectionChange($event)">
          <mat-option *ngFor="let direction of directions"
                      [value]="direction.value">
            {{direction.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
