<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="container">
  <div class="login-line">
    <img mat-card-image src="../favicon.ico" style="max-width: 90px; max-height: 90px">
    <app-login class="login-component"></app-login>
    <!--<mat-divider [vertical]="true"></mat-divider>-->
    <mat-card class="projects-component">
      <mat-card-content >
        <button mat-raised-button *ngFor="let info of projectsInfo" (click)="navigateToProject(info)">
          <b>{{info.name}}</b>
        </button>
      </mat-card-content>
    </mat-card>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-form-field class="sectionPlane"
                    *ngIf="isSectionDirection">
      <mat-label>Section direction</mat-label>
      <mat-select (selectionChange)="onDirectionChange($event)">
        <mat-option *ngFor="let direction of directions"
                    [value]="direction.value">
          {{direction.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
  <div class="model-container" id="model-container">
    <div class="tab-group-container">
      <mat-tab-group class="tabgroup mat-tab-fill-height" [dynamicHeight]="false">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">build</mat-icon>
            Propriétés et Quantités
          </ng-template>
          <app-bim-property-list class="top">
            <div></div>
          </app-bim-property-list>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">layers</mat-icon>
            Calques
          </ng-template>

          <app-layers-selector class="top"></app-layers-selector>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="canvascontainer">
      <canvas (keypress)="keyPressListener($event)" (click)="inCanvasClick($event)" class="model" id="glcanvas">
      </canvas>
    </div>
  </div>
</div>
