@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0;

    .header {
        flex: 0 0 auto;
        background: #e0e0e0;
        color: #303030;
        overflow: hidden;
        text-transform: uppercase;

        h4.mat-h4 {
            margin: 5px 18px;
            font-weight: 500;
            font-size: 14px;
        }
    }

    .content {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .mat-icon {
        font-family: 'Material Icons' !important;
    }
}
